:root {
    --primary-color: pink;
    --secondary-color: teal;
    --tertiary-color: #024e76;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 3vw;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: underline;
    text-shadow: none;
}

/* Hero */
.hero {
    background-image: url("../images/about-me-background.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.profile-img {
    background-image: url("../images/profile-photo.jpg");
    height: 250px;
    width: 250px;

    
}


.hero-subtitle {
    font-style: italic;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
}

/* grid */
.work-grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
}

.grid-item {
    border: solid;
    border-color: teal;
    padding: 70px, 0;
    color: black;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
    display: flex;
}
 
  .run-buddy {
    grid-column:span 2;
    grid-row: span 2;
    grid-row-end: 3;
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    min-height: 400px;
  }

  .password {
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("../images/password.jpg");
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    min-height: 200px;
  }

  .weather {
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("../images/weather.jpg");
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    min-height: 200px;
  }

  .api {
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("../images/api.jpg");
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    min-height: 200px;
  }

  .schedule {
    grid-column: span 1;
    grid-row: span 1;
    background-image: url("../images/schedule.jpg");
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    min-height: 200px;
}

   .project-label {
    padding: 10px;
    background: #024376;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    z-index: 9000;
}

 .project-img {
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    min-height: 500px;
 }

 .project-img1 {
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    min-height: 250px;
 }

 .project-img h4, .project-img1 h4 {
    z-index: 9500;
    font-size: 20px;
    position: relative;
}

.project-img h5, .project-img1 h5 {
    z-index: 9500;
    font-size: 22px;
    position: relative;
}

.project-img::after, .project-img1::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7;
    background: linear-gradient(rgba(252, 225, 56, 0.3), #024e76);   
}

.project-img:hover::after, .project-img1:hover::after {
    opacity: 1;

}

button {

}
  
.step {
     margin: 50px auto;
     padding-bottom: 50px;
     width: 90%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     border-bottom: 1px solid var(--tertiary-color);
 }
 
 .step h3 {
     color: var(--secondary-color);
     font-size: 4vw;
     flex: 1 5%;
     text-align: right;
     padding-right: 20px;
 }
 
 .step-info {
     flex: 2 60%;
     display: flex;
     flex-wrap: wrap;
 }

 .contact {
    justify-content: left;
}
 
  /* alloted 12 times more unused space than step-image */
 .step-text {
     flex: 12;
     border-left: solid;
     padding: 20px;
 }
 
 .step-text p {
     color: var(--tertiary-color);
     font-size: 1.55vw;
 }
 
 .step-text h4 {
     font-size: 26px;
     line-height: 1.5;
     color: var(--secondary-color);
 }
 /* main body styling */

 /*Contact me section */
 
.links a {
    text-decoration: none;
    color: black;
    border-bottom: solid;
}

.links nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 1;
}

.links nav ul li a:hover {
    color: var(--secondary-color);
    text-shadow: none;
    background-color: black;
}

.links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
/* change these for media quieries */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 20px;
}

.gi {
    grid-column: span 4;
    border: 3px dashed black;
}

.special {
    grid-column: span 8;
    grid-row: span 2;
}
/* change these for media queries */